<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/GillissPhoto.jpg" width="153px" height="170px"> <!- width="140px" height="150px" ->
                </div>
                <div class="contact">
                  <i>Graduate Student</i> <br>
                  The University of North Carolina at Chapel Hill<br>
                  Department of Physics and Astronomy<br>
                  120 E. Cameron Ave.<br>
                  Chapel Hill, NC 27599 USA<br>
                  <a href="mailto:gilliss@unc.edu">gilliss@unc.edu</a> <br>
                  <a href="https://www.linkedin.com/in/tomgilliss/">LinkedIn</a> <br>
                </div>
              </div>
              <div class="homecontent">
                <b>Research Interests</b> <br>
                ...
                <ul>
                  <li>...</li>
                  <li>...</li>
                  <li>...</li>
                </ul>

                <b>Brief Bio</b> <br>
                I am a PhD student in <a href="https://physics.unc.edu/">UNC</a>'s <a href="http://enapphysics.web.unc.edu/">Experimental Nuclear and Astroparticle Physics</a> (ENAP) group. My graduate work focuses on background modeling, Monte Carlo simulation, signal processing, and detector construction for germanium-based <a href="https://en.wikipedia.org/wiki/Double_beta_decay">neutrinoless double-beta decay</a> experiments. My dissertation applies Bayesian statistical modeling and MCMC techniques to spectral measurements. I am a Science Ambassador at the <a href="http://moreheadplanetarium.org/">Morehead Planetarium and Science Center</a>, and I hold a bachelors degree in physics from <a href="https://www.wooster.edu/">The College of Wooster</a>.
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
