<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/GillissPhoto.jpg" width="140px" height="150px">
                </div>
                <div class="contact">
                  <i>Graduate Student</i> <br>
                  The University of North Carolina at Chapel Hill<br>
                  Department of Physics and Astronomy<br>
                  120 E. Cameron Ave.<br>
                  Chapel Hill, NC 27599 USA<br>
                  <a href="mailto:gilliss@unc.edu">gilliss@unc.edu</a> <br>
                  <a href="https://www.linkedin.com/in/tomgilliss/">LinkedIn</a> <br>
                </div>
              </div>
              <div class="homecontent">
                <b>Research Interests</b> <br>
                ...
                <ul>
                  <li>...</li>
                  <li>...</li>
                  <li>...</li>
                </ul>

                <b>Brief Bio</b> <br>
                ...
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
